<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link
      href='https://fonts.googleapis.com/css?family=Poppins'
      rel='stylesheet'
    />
    <style>
      body {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        text-size-adjust: none;
      }
    </style>
  </head>

  <body>
    <div
      style='
        color: white;
        font-size: 48px;
        font-family: Poppins;
        font-weight: 700;
        word-wrap: break-word;
      '
    >
      404
    </div>

    <div
      style='
        width: 70px;
        height: 0px;
        transform: rotate(90deg);
        transform-origin: 4 2;
        border: 2px #fbfbfb solid;
      '
    ></div>

    <div
      style='
        width: 201px;
        color: #fbfbfb;
        font-size: 39px;
        font-family: Poppins;
        font-weight: 700;
        word-wrap: break-word;
      '
    >
      Not found
    </div>
  </body>
</html>
