@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   scroll-behavior: smooth !important;
}

body {
   background: #111111;
}

::-webkit-scrollbar {
   height: 0;
   width: 0;
}

img {
   -khtml-user-drag: none;
   -moz-user-drag: none;
   -o-user-drag: none;
   -webkit-user-drag: none;
}

#overflow-height {
   @apply fixed hidden flex-col center gap-8 h-screen w-screen bg-black z-50;
}

@media (orientation: landscape) and (max-height: 640px) {
   #overflow-height {
      display: flex;
   }
}

.center {
   @apply items-center justify-center;
}

.loader {
   @apply bg-gray-7 animate-pulse duration-200;
}

.text-stroke {
   -webkit-text-stroke: #FBFBFB;
   -webkit-text-stroke-width: 2px;
}
