/* Google Fonts imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* TailwindCSS rules */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   scroll-behavior: smooth !important;
}

body {
   background: #111111;
}

img {
   -khtml-user-drag: none;
   -moz-user-drag: none;
   -o-user-drag: none;
   -webkit-user-drag: none;
}

::-webkit-scrollbar {
   height: 0;
   width: 0;
}

/* Range input that is used as the audio time scroller */
input[type="range"] {
   background-image: linear-gradient(#1D5C96, #1D5C96);
   transition-property: background;
   transition-duration: 250ms;
   @apply appearance-none flex-grow h-1 bg-white bg-no-repeat rounded-full;
}

input[type="range"]::-webkit-slider-thumb {
   @apply appearance-none h-3 w-3 bg-transparent border-none rounded-full
}
input[type="range"]::-moz-range-thumb {
   @apply appearance-none h-3 w-3 bg-transparent border-none rounded-full
}

/* The component shown when the device is below the minimum height */
#overflow-height {
   @apply fixed hidden flex-col center gap-8 h-screen w-screen bg-black z-50
}

@media (orientation: landscape) and (max-height: 640px) {
   #overflow-height { display: flex }
}

/* Custom tailwind layers for convenience */
.between { @apply items-center justify-between }

.center { @apply items-center justify-center }

.start { @apply items-center justify-start }

.loader-bounce { @apply bg-gray-7 animate-bounce }

.loader-pulse { @apply bg-gray-7 animate-pulse }

/* Custom text classes */
.text-stroke {
   -webkit-text-stroke: #FBFBFB;
   -webkit-text-stroke-width: 2px;
}

a.link {
   color: var(--tw-primary-accent);
   text-decoration-line: underline;
   text-underline-offset: 4px;
   cursor: pointer;
}
